################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/P2SeriosuGame/bin/Debug
/P2SeriosuGame/obj/Debug
/P2SeriosuGame/obj/Debug
/P2SeriosuGame/bin/Debug
/.vs